.addSection {
  box-sizing: border-box;
  min-height: 35vh;
  padding: 2% 1%;
  text-align: center;
  font-family: arial;
}
.addSection input {
  font-size: 20px;
  padding: 5px 20px;
  margin: 10px;
}
.addSection .taskNameInput {
  display: block;
  margin: 3% auto 1%;
  padding: 1%;
  width: 70%;
}

.addSection button {
  font-size: 20px;
  padding: 5px 20px;
  font-family: arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  background-color: transparent;
  border: 1.5px solid black;
  cursor: pointer;
}
.addSection p {
  font-size: 10px;
  color: red;
  margin: 0;
}
.addSection button:hover {
  background-color: black;
  border: 1.5px solid white;
  color: white;
}
@media (max-width: 580px) {
  .addSection {
    margin-bottom: 10%;
  }
  .addSection label {
    display: block;
    width: 100%;
  }
  .addSection .taskNameInput {
    margin: 10% auto 1%;
    font-size: 2rem;
  }
}
