.mainContainer {
  margin-bottom: 50px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
nav ul {
  margin-bottom: 14px;
}
nav ul li {
  margin: 0;

  display: block;

  float: left;

  margin-right: 5px;
}
nav ul li a {
  font-size: 15px;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

  color: dimgray;
}
.active {
  color: black;
  border-bottom: 4px solid royalblue;
  font-weight: bold;
}

.task {
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  border-bottom: 1px solid lightgray;
}

.task p {
  font-size: 0.7rem;
  color: rgb(175, 175, 175);
}
.task .taskName {
  color: rgb(29, 29, 29);
  font-style: normal;
  width: 70%;
  font-size: 2.5rem;
  float: left;
}
.task .red {
  color: darkred;
}
.taskDate {
  display: inline-block;
  font-weight: bold;
  padding-top: 1%;
  color: rgb(175, 175, 175);
}
.buttons {
  float: left;
  width: 30%;
  text-align: center;
}

.task button {
  width: 30%;
  min-width: 50px;
  padding: 3% 3%;
  margin-right: 2px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  margin: 17px 0 17px 2px;
}
.task button:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.task .red span {
  color: darkred;
}
.task .doneTask {
  width: 70%;
  float: left;
  font-size: 1.5rem;
  color: rgb(29, 29, 29);
  text-decoration: line-through;
  padding: 2%;
}
hr {
  margin: 0;
}
.dateList {
  padding: 1% 0;
  margin: 0 2%;
  text-align: center;
}
.dateList li {
  list-style: none;
  margin: 1% 0;
}
.dateList li a {
  display: inline-block;
  width: 40%;
  text-decoration: none;
  color: black;
  padding: 1% 2%;
  border: 1px solid black;
  text-align: center;
  transition: 0.2s;
}
.dateList li a:hover {
  background-color: rgb(77, 77, 77);
  color: white;
}
.titleDateList {
  color: rgb(77, 77, 77);
  margin: 1% 0 1% 1%;
  width: 30%;
  padding-bottom: 1%;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.datePage h1 {
  float: left;
  width: 50%;
  color: rgb(77, 77, 77);
  font-size: 1.5rem;
  margin-left: 1%;
  margin-bottom: 2%;
  padding-bottom: 1%;
  text-align: center;
}
.datePage a {
  display: block;
  float: left;
  color: rgb(138, 138, 138);
  margin: 0;
  padding: 1% 2%;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  min-width: 200px;
}
.datePage a:hover {
  color: rgb(77, 77, 77);
}
.titleDataPage {
  margin-bottom: 2%;
  border-bottom: 1px solid black;
}
.editInput {
  margin-bottom: 2%;
  margin-right: 1%;
  padding: 0.5% 2%;
  font-size: 1.2rem;
}
.editPrority {
  width: 20%;
  display: inline;
}
.editPrority label input {
  margin-right: 0.5%;
}
.errorPage p {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: arial;
  color: rgba(121, 0, 0, 0.171);
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
}
.errorPage button {
  display: block;

  padding: 1% 3%;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: arial;
  background-color: transparent;
  border: 1px solid rgba(39, 39, 39, 0.63);
  color: rgb(12, 12, 12);
  margin: 3% 3% 0;
  cursor: pointer;
  transition: 0.2s;
}

.errorPage button:hover {
  background-color: rgb(240, 240, 240);
}
.resetStorageBtn {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  background-color: transparent;
  font-family: arial;
  border: 1px solid rgb(138, 138, 138);
  color: rgb(146, 146, 146);
  cursor: pointer;
  margin-top: 2px;
  margin-right: 2px;
  transition: 0.2s;
}
.resetStorageBtn:hover {
  background-color: rgb(199, 99, 99);
  color: white;
}
input:focus {
  border: 2px solid royalblue;
}
.removePopup {
  width: 50vw;
  height: 30vh;
  background-color: rgb(22, 22, 22);
  position: absolute;
  top: calc(50% - 15vh);
  left: calc(50% - 25vw);
}
.rmvPopupTxt {
  padding: 5%;
  text-align: center;
  margin-top: 5%;
  color: white;
  font-size: 1.5rem;
}
.rmvPopupBtns {
  text-align: center;

  width: 100%;
}
.rmvPopupBtns button {
  margin: 0 10%;
  font-size: 1.5rem;
  padding: 1% 3%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}
.rmvPopupBtns button:hover {
  color: black;
  border-color: black;
  background-color: #fff;
}
.blur {
  filter: blur(1);
}
@media (max-width: 580px) {
  .buttons {
    width: 100%;
  }
  .task button {
    width: 20%;
    padding: 1% 2%;
    margin-right: 3%;
  }
  .task .taskName {
    text-align: center;
    width: 100%;
    margin: 1% auto;
    float: none;
    display: block;
  }
  .task .doneTask {
    text-align: center;
    width: 100%;
    margin: 1% auto;
    float: none;
    display: block;
  }
  .datePage h1 {
    display: block;
    width: 100%;
    margin: 4% auto;
  }
  .taskDate {
    padding: 4% 0;
  }
  .editInput {
    display: block;
    margin: 2% auto;
    padding: 1.5% 2%;
  }
  .editPrority label {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  .removePopup {
    width: 86vw;

    left: calc(50% - 43vw);
  }
}
