.addSection {
  box-sizing: border-box;
  height: 35vh;
  padding: 2% 1%;
  text-align: center;
  font-family: arial;
}
.addSection input {
  font-size: 20px;
  padding: 5px 20px;
  margin: 10px;
}
.addSection button {
  font-size: 20px;
  padding: 5px 20px;
  font-family: arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  background-color: transparent;
  border: 1.5px solid black;
  cursor: pointer;
}
.addSection p {
  font-size: 10px;
  color: red;
  margin: 0;
  margin-right: 250px;
}
.addSection button:hover {
  background-color: black;
  border: 1.5px solid white;
  color: white;
}
