.addSection {
  box-sizing: border-box;
  height: 15vh;
  width: 70%;
  margin: 5% auto;
  text-align: center;
}
.addSection label {
  display: block;
  margin-bottom: 1%;
}
.addSection button {
  display: inline-block;
  text-align: center;
}
.addSection p {
  color: red;
  font-size: 10px;
  margin-top: 0;
}
.red {
  color: red;
}
