.toDoContainer,
.doneContainer {
  min-height: 30vh;
}
.task {
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid lightgray;
}
.task p {
  padding-left: 3%;
  color: rgb(104, 102, 100);
  display: inline-block;
  margin-right: 1%;
  width: 70%;
  font-style: italic;
}
.task p span {
  border-right: 1px solid lightgray;
  font-style: normal;
  display: inline-block;
  width: 70%;
  font-size: 30px;

  margin-right: 3%;
}
.doneContainer {
  margin-bottom: 10vh;
}
hr {
  margin-top: 3%;
}
.task button {
  padding: 1% 2%;
  margin-right: 2px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  margin: 17px 0 17px 2px;
}
.task button:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.task .red span {
  color: darkred;
}
.task .doneTask span {
  font-size: 20px;
  text-decoration: line-through;
}
